body {
  font-family: "Arial", sans-serif;
  height: auto;
  background: #171717;
  background: linear-gradient(
    0deg,
    rgba(23, 23, 23, 1) 0%,
    rgb(13, 13, 13) 100%
  );
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.val-card img {
  scale: 0.97;
  margin-top: 10px;
}
